.suggestion-section {
    width:300px;
    margin-top:10px;
    margin-left:20px;
    padding:20px;
    background-color:#f7f9f9;
    border-radius:20px;
}
.suggestion-header h2 {
    font-size: 20px;
    font-weight: 700;
}
.suggestion-body {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.suggestion-content {
    padding: .5rem 0;

}

.suggestion-img {
    height: 68px;
    width: 68px;
    border-radius: 10px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-15 {
    font-size: 15px;
}

.font-weight-700 {
    font-weight: 700;
}

.suggestion-grey-text {
    color: #536471;
}