.search-box {
    display: flex;
    margin: .5rem auto;
    width: 80%;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    padding: 1rem;
    background-color: #EFF3F4;
    border-radius: 25px;
}

.search-input-wrapper {
    width: 100%;
    margin: 0 1rem;
}

.search-input {
    width: 100%;
    border-radius: 10px !important;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px !important;
}

.search-input::-webkit-input-placeholder {
    font-size: 18px !important;
    color: #536471 !important;
}