body{
    --twitter-color:#2f9bf0 ;
    --twitter-background:#e0e3e3;
    --twitter-textgrey:#535e67;
}
.app{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}