body{
    --twitter-color:#2f9bf0 ;
    --twitter-background:#eff3f4;
    --twitter-textgrey:#586875;
}
.app{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}